$cwhite: white;

canvas {
    display: none;
}

body {
    font-family: 'Kameron','Noto Sans JP', sans-serif;
    margin: 0;
}

#container {
    position: relative;
    transition: transform 0.5s ease;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 10;
        opacity: 0;    
        visibility: hidden;
        transition: opacity 1s;
    }
    &.menu-open::before {
        content: '';
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }
}

#container.menu-open {
    transform: translate(-200px, 60px);
    box-shadow: 6px -4px 20px rgb(78, 76, 76);
}

.swiper-container {
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.swiper {
    text-align: center;
}

.swiper-pagination {
    position: relative !important;
    margin-top: -90px !important;
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: black; //ここに変更する色を指定
}

.swiper__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: $cwhite;
    font-size: 40px;
    font-weight: 900;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.6s ease 0.5s, transform 0.6s ease 0.5s;
}

.swiper-slide {
    & img {
        margin-top: 30px;
        transform: scale(1.3);
        transition: transform 1.5s ease;
}

    &-active {
        & img {
            transform: none;
        }
        & .swiper__title {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}

.flex {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    & .house__item {
        @media (min-width: 600px) {
            flex-basis: 50%;
        }
    }
}

#hero-container {
    padding-bottom: 30px;
    background-color: rgb(249, 240, 224);
}

#main-content {
    padding-top: 30px;
    background-color: rgb(238, 219, 195);
}

.main_button {
    text-align: center;
}

.sub_button {
    text-align: center;
}

.sub-image-name {
    position: absolute;
    width: 100%;
    bottom: -50px;
}

.main-title {
    margin-bottom: 0;
}
.sub-title {
    margin: 5px 0 40px 0;
}